body {
  color: #383636;
  font-size: 1rem;
}

.project-main-container {
  width: 100%;
}

.wrap {
  width: 94%;
  margin: 0 auto;
}

.project-main-container h1,h2 {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 24px 0;
}

.project-main-container .right {
  font-size: 1.5rem;
  font-weight: 700;
}

.project-main-container h2 {
  font-size: 2.25rem;
}

code {
  color: #2da44e;
  display: inline-block;
}

.background-color {
    background: #f4f5f7;
  padding: 20px;
  border-radius: 5px;
  display: block;
  width: 80%;
}


.about-author-container {
  display: flex;
  gap: 24px;
  padding-bottom: 30px;
}

.hero-image-container {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.hero-image-container img {
  top: 298px; 
  position: relative;
}

.about-author-container img {
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.author-name {
  font-style:oblique;
  margin: 0;
}

.author-subtitle {
  margin: 0;
}

.project-main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: flex-start;
}

.project-main-content-left-second {
  position: sticky; 
  top: 30%; 
  width: 50%;
}

.project-main-content p {
  font-size: 1rem;
  padding: 20px 0 20px;
}

.project-main-content-right {
  width: 50%;
}

.project-main-content-right .tutorial-text {
  line-height: 1.4;
}

.project-main-content-right .step {
  padding-bottom: 20px;
}

.project-main-content-right .step p{
  padding: 10px 0 10px;
}

.project-main-content span {
  width: 8px; 
  height: 8px; 
  background: #819A91; 
  display: block; 
  border-radius: 50%; 
  position: absolute; 
  top: -15px; 
  left:-18px;
}


@media (min-width: 340px) and (max-width: 1024px) {
  .wrap {
  width: 85%;
  }

  br {
    display: none;
  }

  .hero-image-container {
    height: 180px;
    margin: 20px 0 20px;
  }

  .hero-image-container img {
    top: 146px;
  }

  .about-author-container {
    display: inline-block;
  }

  .author-name, .author-subtitle {
  margin: 0;
  }

  .about-author-container p.img img {
  width: 90px;
  height: 90px;
  }

  .project-main-content {
  display: inline;
  }

  .project-main-content-left-second {
  position: static;
  top: 0;
  width: 100%;
  }

  .project-main-content-right {
  width: 100%;
  }

  .project-main-content p {
  font-size: 1.5rem;
  }

  .project-main-content-right p.img {
  width: 100%;
  }
  
  .project-main-content-right img {
  width: 100%;
  }

  .project-main-content-right .img_second {
  width: 97%;
  }
}

@media (max-width: 700px) {
  .hero-image-container {
  display: none;
  }

  .project-main-content p {
  font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .project-main-container h1, h2 {
  font-size: 2.7rem;
  }
}
