.change-main-container {
  color: #383636;
  font-size: 1rem;
  margin: 0 50px;
}

.change-main-container h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 24px 0;
}

.change-main-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-author-container {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.about-author-container img {
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.author-name {
  font-style: oblique;
}

.hero-image-container {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
}

.hero-image-container img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.change-main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.change-main-content-left {
  align-self: flex-start;
  font-size: 1.5rem;
  position: sticky;
  top: 20px;
  width: 30vw;
}

.change-main-content-right {
  width: 50vw;
}

.change-main-content-right p {
  line-height: 1.5rem;
}

.change-main-container code {
  color: #2da44e;
  font-weight: 700;
}

.code-background {
  background-color: #f4f5f7;
  padding: 20px;
  border-radius: 5px;
}

.change-main-container li {
  padding: 0.5rem 0;
}

section {
  padding-bottom: 1.5rem;
}

.image-container {
  display: flex;
  justify-content: center;
  width: auto;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .change-main-container h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  .hero-image-container,
  .change-main-content,
  .change-main-content-left {
    display: block;
    width: 100%;
  }

  .hero-image-container {
    align-items: center;
    height: 100%;
  }

  .hero-image-container img {
    margin: 0 auto;
  }

  .change-main-content-left {
    position: static;
  }

  .change-main-content-left h2 {
    font-size: 1.5rem;
  }

  .change-main-content-right,
  .change-main-content-right p {
    width: 100%;
  }

  .change-main-content-right h3 {
    font-size: 1.2rem;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }

  .list,
  .list-items {
    padding-left: 0;
  }
}
