* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  color: #383636;
  background :#FAFAF7;
}


/* content-area */
.content-area{
  width: 100%;
}

.content-area h1{
  font-size: 3rem;
  text-align: center;
  padding: 30px 0 130px 0;
  color: #262e2b;
}

.content-box{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.content-box .introduction-text{
  width: 100%;
  font-size: 1.6rem;
}

span.a{font-size: 2rem;
  display: inline-block;
  margin-top: 20px;
}

.content-box p.img{
  width: 100%;
}

.content-box p.img img{
  width: 60%;
}