.project-main-container {
  color: #383636;
  font-size: 1rem;
  margin: 0 50px;
}

.project-main-container h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 24px 0;
}

.project-main-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-author-container {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.about-author-container img {
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.author-name {
  font-style: oblique;
}

.hero-image-container {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
}

.hero-image-container img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.project-main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-main-content-left {
  align-self: flex-start;
  font-size: 1.5rem;
  position: sticky;
  top: 20px;
  width: 30vw;
}

.project-main-content-right {
  width: 50vw;
}

.project-main-content-right p {
  line-height: 1.5rem;
}

.project-main-container code {
  color: #2da44e;
  font-weight: 700;
}

.image-container {
  display: flex;
  height: 200px;
  justify-content: center;
  width: auto;
}

.add-repo-image {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.add-repo-image img {
  height: 150px;
  width: auto;
}

.name-repo-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.github-visibility-image,
.github-readme-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.github-visibility-image img,
.github-readme-image img {
  height: auto;
  width: 100%;
}

.github-button {
  background-color: #2da44e;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: white;
  display: inline-block;
  font-weight: 600;
  font-family: system-ui, "Helvetica Neue", sans-serif;
  padding: 6px 12px;
}
