.project-main-container {
  color: #383636;
  font-size: 1rem;
  margin: 0 50px;
}

.project-main-container h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 24px 0;
}

.project-main-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-author-container {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.about-author-container img {
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.author-name {
  font-style:oblique;
}

.hero-image-container {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
}

.hero-image-container img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.project-main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-main-content-left {
  align-self: flex-start;
  font-size: 1.5rem;
  position: sticky;
  top: 20px;
  width: 30vw;
}

.project-main-content-right {
  width: 50vw;
}

.project-main-content-right p {
  line-height: 1.5rem;
}

.project-main-container code {
  color: #2da44e;
  font-weight: 700;
}

.code-container {
  background-color: #f4f5f7;
  padding: 20px;
  border-radius: 5px;
}

.code-container li {
  list-style-type: none;
  line-height: 23px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.repo-image img, .add-repo-image img, .name-repo-image img, .github-visibility-image img,
.github-readme-image img{
  height: auto;
  width: 100%;
  min-width: 300px;
}

.repo-image img, .name-repo-image img{
  max-width: 600px;
}

.add-repo-image, .github-visibility-image,
.github-readme-image, .name-repo-image {
  margin-bottom: 20px;
}

.add-repo-image img {
  max-width: 300px;
}

.github-button {
  background-color: #2da44e;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: white;
  display: inline-block;
  font-weight: 600;
  font-family: system-ui, "Helvetica Neue", sans-serif;
  padding: 6px 12px;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .project-main-container h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  .hero-image-container, .project-main-content, .project-main-content-left{
    display: block;
    width: 100%;
  }

  .hero-image-container {
    align-items: center;
    height: 100%;
  }

  .hero-image-container img {
    margin: 0 auto;
  }

  .project-main-content-left {
    position: static;
  }

  .project-main-content-left h2{
    font-size: 1.5rem;
  }
  
  .project-main-content-right, .project-main-content-right p {
    width: 100%;
  }

  .project-main-content-right h3 {
    font-size: 1.2rem;
  }

  .list, .list-items {
    padding-left: 0;
  }
}